<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
	    <magepow_recentorder>
            <general>
                <enabled>1</enabled>
                <fakeinfo>1</fakeinfo>
                <product_ids>5,10,15,20</product_ids>
                <faketime>a few minutes ago, 5 minutes ago, 15 minutes ago</faketime>
                <fakeaddress>Hanoi - VN, New York - US, Sydney - Australia</fakeaddress>
                <limit>10</limit>
                <autoplay>1</autoplay>
                <close_off>1</close_off>
                <firsttime>3000</firsttime>
                <speed>9000</speed>
            </general>
        </magepow_recentorder>
	</default>
</config>
